<form class="form" action="">
  <input type="input" placeholder="Ejemplo:Margarita" class="js-input input" />
  <button class="button1 js-button-search">SEARCH</button>
  <button class="button2 js-button-reset">RESET</button>
</form>
<section class="twoList">
  <div class="favourites">
    <h2>Favorites</h2>
    <ul class="js-favorites"></ul>
  </div>
  <div class="allDrinks">
    <h2 class="titleGeneralList">Drinks list:</h2>
    <ul class="drinkList js-drinkList"></ul>
  </div>
</section>
