.form{
    margin:10px;
    display:flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center; 
    padding-bottom: 30px; 
}
.input{
    width: 200px;
    height: 50px;
    margin-right: 5px;
    background-color:$white;
    border:solid $crimson 2px;
    border-radius:5px;
    padding: 5px;
}
.button1{
    width: 100px;
    height: 50px;
    margin-right: 5px;
    background-color:$crimson;
    border:solid $grey 2px;
    border-radius:5px;
    color:$white;
    text-transform: uppercase;
    font-family: $poiret;
    font-weight: 400;
    font-size: 18px;
}
.button2{
    width: 100px;
    height: 50px;
    background-color:$crimson;
    border:solid $grey 2px;
    border-radius:5px;
    color:$white;
    text-transform: uppercase;
    font-family: $poiret;
    font-weight: 400;
    font-size: 18px;
}

// .hiden{
//     display:none;
// }
.twoList{
    margin:10px;
    display: flex;
    flex-direction: row;
}
.favourites{
    margin-top: 20px 0 20px 0;
    width: 50%;
    font-family: $poiret;
    text-align: center;
    color:$grey;
}
.titleGeneralList{
    text-align: center;
    width:100%;
    color:$grey;
}
.allDrinks{
    width: 50%;
    font-family: $poiret;
    text-align: center;
}
.drinkList{
    
    display: flex;
    flex-direction: column;
    font-family: $poiret;    
}
.drinksLi{
    list-style: none;
    border:solid 2px $fadedCrimson;
    width: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 10px 10px 10px;
    
}
.favBtn{
    background-color: $white;
    border-color:$fadedCrimson;
    margin: 0 10px 0 5px;
    width: 50px;
    height: 50px;
}
.drinksImages{
    width: 100px;
    margin:10px;
}
