//----input y dos botones
.form{
    height: 100%;
    margin:10px;
    display:flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center; 
    padding-top: 30px; 
}
.input{
    width: 300px;
    height: 50px;
    margin-right: 5px;
    background-color:$white;
    border:solid $crimson 2px;
    border-radius:5px;
    padding: 5px;
}
.button1{
    width: 100px;
    height: 50px;
    margin-right: 5px;
    background-color:$crimson;
    border:solid $grey 2px;
    border-radius:5px;
    color:$white;
    text-transform: uppercase;
    font-family: $poiret;
    font-weight: 400;
    font-size: 18px;
}
.button2{
    width: 100px;
    height: 50px;
    background-color:$crimson;
    border:solid $grey 2px;
    border-radius:5px;
    color:$white;
    text-transform: uppercase;
    font-family: $poiret;
    font-weight: 400;
    font-size: 18px;
}

//----listas genetal
.container{
    height: 100%;
    margin:10px;
    display: flex;
    flex-direction: row;
}
.favorites{
    margin-top: 20px 0 20px 0;
    width: 50%;
    font-family: $poiret;
    text-align: center;
    color:$grey;
}
.allDrinks{
    width: 50%;
    font-family: $poiret;
    text-align: center;
}
.titleGeneralList{
    text-align: center;
    width:100%;
    color:$grey;
}

.drinkList{
    
    display: flex;
    flex-direction:column;
    font-family: $poiret;    
}
.drinkList img{
    width: 100px;
    margin:10px;    
}
.drinkList li{
    list-style: none;
}
.favorites li img{
    width: 100px;
    margin:10px; 
}
.clickedFavorites{
    border:solid 4px $crimson;
}
.drinkList button{
    width: 40px;
    height: 20px;
    background-color:$crimson;
    border:solid $grey 2px;
    border-radius:5px;
    color:$white;
    text-transform: uppercase;
    font-family: $poiret;
    font-weight: 600;
}

