.left{
    font-family: $poiret;
    width: 200px;
    text-align: start;
    color:$grey;
    position:fixed;
    bottom:30px;
    left: 30px;
}

.right{
    font-family: $poiret;
    width: 200px;
    text-align: end;
    color:$crimson;
    position:fixed;
    bottom:30px;
    right: 30px;

}       
