.main{
    background-color: aquamarine;
    height:max-content;
    padding: 5px;
    &__title{
        text-align: center;
    }
    &__searchZone{
        
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        margin: 20px 40px 20px 40px;        
    }
    &__lists{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin:20px;
        &--sectionFavs{
            height: max-content;
    }
}
}